<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nanny Ledger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>550280F32E96CF2300F2DD29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>550281042E96CF2400F2DD29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5502810E2E96CF2400F2DD29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
